* {
  margin: 0px;
}

body {
  background-color: black;
  color: white;
  font-family: Cinzel;
  font-weight: 500;
}

p {
  font-size: 1.2rem;
}

.main, .side {
  border-radius: 30px;
}

.header {
  width: 100%;
  min-height: 60px;
  margin-bottom: 60px;
  background-color: #151515;
}

.header h1 {
  font-size: 3rem;
  margin-left: 15px;
}

.main {
  background-color: #151515;
  width: 71.6%;
  min-height: 400px;
  float: right;
  margin-right: 3.25%;
  margin-left: 24%;
  padding: 10px;
}

.main h1 {
  text-align: center;
  margin-bottom: 10px;
}

.side {
  background-color: #151515;
  width: 16.27%;
  height: 300px;
  margin-left: 3.25%;
  float: left;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.block {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid white;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block p {
  font-size: 0.8rem;
}
