* {
  margin: 0px;
}

body {
  background-color: black;
  color: white;
  font-family: serif;
  font-weight: 500;
}

p {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.main, .side {
  border-radius: 30px;
}

.header {
  width: 100%;
  min-height: 60px;
  margin-bottom: 30px;
  background-color: #151515;
  position: relative;
  top: -60px;
  animation-name: header;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.header h1 {
  font-size: 3rem;
  margin-left: 15px;
}

.main {
  background-color: #151515;
  width: 71.6%;
  min-height: 400px;
  float: right;
  margin-left: 24%;
  padding: 10px;
  margin-right: 3.25%;
}

.main h1 {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 20px;
}

#description {
  font-size: 1.35rem;
  margin-top: 25px;
  text-transform: none;
}

.side {
  background-color: #151515;
  width: 16.27%;
  height: 300px;
  float: left;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-left: 3.25%;
}

.block {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.75s;
}

a, .selected {
  width: 40px;
  height: 40px;
  margin: 10px;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.selected {
  color: black;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block:hover {
  color: black;
  background-color: white;
  border-radius: 12px;
}

@keyframes header {
  to {
    top: 0;
    margin-bottom: 60px;
  }
}
